html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: futura_md;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body > img {
  display: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  cursor: pointer;
}

body, html {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  background-color: #ffffff;
  font-size: 16px;
  font-size: 1rem;
  font-family: futura_md;
  color: #aeaeae;
}

/* BEGIN FONTS */
@font-face {
  font-family: 'futura_md';
  src: url("../fonts/futura-condensed-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* END FONTS */

/* BEGIN HEADER */

.header {
    width: 100%;
    height: 103px;
    background-color: #fff;
    position: fixed;
    z-index: 1;
}

.header .logo {
    position: absolute; 
    left: 4%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.header .bt-about {
    position: absolute; 
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

@media screen and (max-width: 1440px) {
  .header {
      height: 60px;
  }
  .header .logo {
      width: 34px;
  }
}

@media screen and (max-width: 1023px) {

  .header .logo {
      left: 20px;
  }

  .header .bt-about {
      right: 20px;
  }
}

/* END HEADER */

/* BEGIN HOME */
.thumbs {
    width:100%;
    margin-top: 100px;
    position: relative;
    display: inline-block; 
}

.thumbs .thumb {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-top: -5px;
    overflow: hidden;
}

.thumbs .thumb .bg {
    width: 100%;
    height: auto;
    transition: transform 2s ease;
    -webkit-transition: transform 2s ease;
}

.thumbs .thumb .title {
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #ffffff;
    font-size: 35px;
}
@media screen and (min-width: 1024px) and (max-width: 1920px) {
    .thumbs .thumb .title {
        font-size: calc(26px + (35 - 26) * ( (100vw - 1440px) / ( 1920 - 1440)));
    }
}
@media screen and (max-width: 1440px) {
    .thumbs {
        margin-top: 60px;
    } 
}
@media screen and (max-width: 1023px) {
      
    .thumbs .thumb .title {
        font-size: 14px;
    }
}

.thumbs .thumb:hover .bg {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.thumbs .thumb .title:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .6s ease;
    -webkit-transition: width 0s ease, background .6s ease;
}
.thumbs .thumb .title:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background: #ffffff;
    transition: width .6s ease;
    -webkit-transition: width .6s ease;
}

.thumbs .thumb:hover .title:before {
    width: 100%;
    background: #ffffff;
    transition: width .6s ease;
    -webkit-transition: width .6s ease;
}

.thumbs .thumb:hover .title:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
    -webkit-transition: all 0s ease;
}
/* END HOME */

/* BEGIN FOOTER */

.footer {
    width: 100%;
    height: 103px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.footer .links {
    display: inline-block;
    position: absolute;
    left: 4%;
    bottom: 24px;
    font-size: 19px;
}

.footer .links .link {
    display: inline-block;
    margin-right: 50px;
}

.footer .links .link a {
    padding-bottom: 3px;
}

.footer .links .link a:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	-webkit-transition: width .6s ease, background-color .6s ease;
	transition: width .6s ease, background-color .6s ease;
}
.footer .links .link a:hover:after {
	width: 100%;
	background: #aeaeae;
}

@media screen and (max-width: 1440px) {
  .footer {
      height: 80px;
  }

  .footer .links {
      bottom: 14px;
  }
}

@media screen and (max-width: 1023px) {

  .footer .links {
      bottom: 14px;
      left: 20px;
      font-size: 16px;
  }

  .footer .links .link{
      margin-right: 15px;
  }
}
/* END FOOTER */

.bt-default {
    color: #aeaeae;
    border: 2px solid #aeaeae;
    background-color: transparent;
    padding: 7px 20px 7px 20px;
    display: block; 
    cursor: pointer;
    -webkit-transition: color .6s ease, background-color .6s ease;
	transition: color .6s ease, background-color .6s ease;
}

.bt-default:hover {
    background-color: #aeaeae;
    color: #ffffff;
}

.title-default {
    font-size: calc(16px + (23 - 16) * ( (100vw - 1440px) / ( 1920 - 1440)));
    color: #5d5c5c;
    width: 33%;
    text-align: center;
    line-height: 30px;
}
@media screen and (max-width: 1440px) {
    .title-default {
        width: 90%;
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (max-width: 767px) {
    .title-default {
        font-size: 11px;
        line-height: 16px;
    }
}

/* BEGIN CONTENT INTERN */
.content {
    width:100%;
    margin-top: 100px;
    position: relative;
    display: inline-block;
}


.content .title-default {
    display: block;
    margin: 105px auto 0 auto;
}

.content .video {
    width: 1500px;
    height: 850px;
    display: block;
    margin: 20px auto 50px auto;
}

.content .image-center {
    width: 1500px;
    height: auto;
    display: block;
    margin: 20px auto 50px auto;
}

.content .image-full {
    width: 100%;
    height: auto;
    margin: 20px auto 50px auto;
}

.content .bt-next {
    width: 11%;
    font-size: calc(26px + (35 - 26) * ( (100vw - 1440px) / ( 1920 - 1440)));
    margin: 100px auto 0 auto;
    display: block;
    text-align: center;
}

@media screen and (max-width: 1440px) {
  .content {
      margin-top: 60px;
  }

  .content .title-default {
      margin-top: 40px;
      max-width: 440px;
  }

  .content .image-center {
      width: 1152px;
  }
  .content .video {
      width: 1152px;
      height: 648px;
  }
}

@media screen and (max-width: 1024px) {
    .content .image-center {
        width: 768px;
    }
    .content .video {
        width: 768px;
        height: 432px;
    }
}

@media screen and (max-width: 767px) {

    .content .title-default {
        max-width: 300px;
    }

    .content .image-center {
        width: 256px;
        margin-top: 10px;
    }
    .content .image-full {
        margin-top: 10px;
    }

    .content .video {
        width: 256px;
        height: 144px;
        margin-top: 10px;
    }

    .content .bt-next {
        width: 25%;
        font-size: 12px;
        margin-top: 20px;
    }
}
/* END CONTENT INTERN */

